* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f9;
}

.layout {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #1d2671;
    color: white;
    padding: 20px;
}

/* Profile */
.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
}

.profile h4 {
    margin-bottom: 5px;
}

.profile span {
    font-size: 14px;
    color: #ffb3c6;
    cursor: pointer;
}

.profile span:hover {
    text-decoration: underline;
}

/* Sidebar Menu */
.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li i {
    margin-right: 10px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #c33764;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card p {
    font-size: 26px;
    font-weight: bold;
    color: #1d2671;
    margin-top: 10px;
}

/* Table */
.table-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.status.shortlisted { color: green; }
.status.pending { color: orange; }
.status.rejected { color: red; }
